[Unit]
Description=ArduPilot Copter for Linux OBAL Board
After=network-online.target systemd-modules-load.service time-sync.target
Wants=network-online.target time-sync.target
Documentation=https://ardupilot.org/copter/docs/common-autopilots.html
Conflicts=arduplane.service ardurover.service

[Service]
Type=simple
WorkingDirectory=/home/pi

ExecStart=/home/pi/arducopter \
  --serial1 udp:0.0.0.0:14550 \
  --serial3 /dev/serial0 \
  --defaults /home/pi/ardupilot.parm

Restart=on-failure
RestartSec=5
LimitNPROC=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
